body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: sans-serif;
}

.theme-container{
    width: 30%;
    height: 690px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #075E54;
}

.first-container{
    background: #128C7E;
    height: 90px;
}

.first-container-dark{
   background: #075E54;
   height: 90px;
}

.top{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.wp-title{
    color: white;
    width: 20%;
    padding: 5px;
    font-weight: 700;
    margin-right: 150px;
}

.icon{
    width: 5%;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
    color: white;

}

.cam-icon{
    width: 5%;
    padding: 5px;
    cursor: pointer;
}

.cam-icon:hover{
    border-bottom: 2px solid white;
}

.title-container{
    padding: 5px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
}

.sub-titles:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}

.second-container{
    height: 600px;
}

.second-container-dark{
    height: 600px;
    background: #111111;
    color: white;
}

.chat-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 40px;
}

.profile{
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    cursor: pointer;
}

.chats{
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.mute-pin{
    width: 30px;
    padding: 5px;
    margin-left: 40px;
}

.mute-pin-icon{
    width: 17px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
